<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ page.description || site.github.project_tagline }}">
  <meta name="keywords" content="{{ page.keywords }}"/>
  <meta name="robots" content="index,follow" />
  <meta name="author" content="duclvzz@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=vietnamese">
  <link rel="stylesheet" media="all" href="/assets/css/material.min.css" />
  <link rel="stylesheet" media="all" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>