<header class="page-header mdl-layout__header mdl-layout__header--scroll">
  <div class="mdl-layout__header-row">
    <a class="page-title mdl-layout-title" href="/"><img src="/assets/images/favicon.ico"></img></a>
    <span id="page-title" class="page-title">{{ page.title }}</span>

    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      {% include nav.html %}
    </nav>
    <!-- Search Box & More -->
    <div
      class="page-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width"
    >
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search-field" />
      </div>
    </div>
  </div>
</header>
<div class="page-drawer mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="page-title mdl-layout-title">{{ site.title }}</span>
  <nav class="mdl-navigation">
      {% include nav.html %}
  </nav>
</div>
