{% assign pageurl = page.url | prepend: site.url %}
{% assign pagethumbnail = page.thumbnail | prepend: site.url %}
<div class="social-share-target">
  <a class="social-button twitter-target mdc-button mdc-button--raised mdc-button--dense" href="https://twitter.com/intent/tweet?url={{ pageurl }}&text={{ page.title }}&hashtags={{ page.socialtags | join: ','}}" rel="nofollow noreferrer noopener" target="_blank">
    {{ site.data.icons.twitter }}
  </a>
  <a class="social-button reddit-target mdc-button mdc-button--raised mdc-button--dense" href="http://reddit.com/submit?url={{ pageurl }}&resubmit=true&title={{ page.title }}" rel="nofollow noreferrer noopener" target="_blank">
    {{ site.data.icons.reddit }}
  </a>
  <a class="social-button facebook-target mdc-button mdc-button--raised mdc-button--dense" href="https://www.facebook.com/sharer.php?u={{ pageurl }}" rel="nofollow noreferrer noopener" target="_blank">
    {{ site.data.icons.facebook }}
  </a>
  <a class="social-button pinterest-target mdc-button mdc-button--raised mdc-button--dense" href="https://www.pinterest.com/pin/create/button/?url={{ pageurl }}&media={{ pagethumbnail }}&description={{ page.title }}&hashtags={{ page.socialtags | join: ','}}" rel="nofollow noreferrer noopener" target="_blank">
    {{ site.data.icons.pinterest }}
  </a>
</div>