<nav aria-label="Table of Contents" class="post-toc mdl-cell--hide-tablet mdl-cell--hide-phone">
  TABLE OF CONTENTS {% assign my_min = page.toc_min | default: site.toc_min | default: 2 %} {% assign my_max =
  page.toc_max | default: site.toc_max | default: 6 %} {% include toc html=content class="mdl-list"
  h_min=my_min h_max=my_max %}
</nav>
<script>
    function isScrolledIntoView(el) {
      const rect = el.getBoundingClientRect();
      const elemTop = rect.top;
      const elemBottom = rect.bottom - 64;
      // Only completely visible elements return true:
      // var isVisible = elemTop >= 0 && elemBottom <= window.innerHeight;
      // Partially visible elements return true:
      const isVisible = elemBottom < window.innerHeight && elemBottom >= 0;
      return isVisible;
    }
    function isScrolledToc(el, stopEl) {
      if (!el.nextElementSibling || el.nextElementSibling == stopEl) return isScrolledIntoView(el);
      else return isScrolledIntoView(el) || isScrolledToc(el.nextElementSibling, stopEl);
    }
    function scrollWatch(event) {
      const siteTitle = document.querySelector('a.page-title');
      const pageTitle = document.querySelector('#page-title');
      if (!isScrolledIntoView(document.querySelector('#post-title'))) {
        pageTitle.classList.add('active');
        siteTitle.classList.add('disable')
      } else {
        pageTitle.classList.remove('active');
        siteTitle.classList.remove('disable');
      }
      const toclist = document.querySelectorAll('.post-toc a');
      event.preventDefault();
      toclist.forEach(function(el, index) {
        if (
          isScrolledToc(
            document.getElementById(decodeURIComponent(el.hash).substr(1)),
            toclist[index + 1] ? document.getElementById(decodeURIComponent(toclist[index + 1].hash).substr(1)) : undefined,
          )
        )
          el.classList.add('active');
        else el.classList.remove('active');
      });
    }
    document.querySelector('.mdl-layout').onscroll = scrollWatch;
    document.querySelector('.mdl-layout__content').onscroll = scrollWatch;
    document.querySelectorAll('.post-toc a').forEach(function(el) {
      el.onclick = function(event) {
        event.preventDefault();
        window.location.hash = decodeURIComponent(this.hash);
        document
          .querySelector('.mdl-layout')
          .scrollTo(
            0,
            document.getElementById(decodeURIComponent(this.hash).substr(1)).offsetTop +
              document.querySelector('.mdl-layout__content').offsetTop -
              64,
          );
      };
    });
  </script>
  