// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 840px !default;

// Body
$body-background: #ffffff !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #1d2129 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #e9ecf1 !default;
$code-text-color: #48616d !default;

// Borders
$border-color: #d8dfe6 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
