---
layout: default
---

<div id="main-content">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="post mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="post-header">
          <h1 id="post-title">
            <strong>{{ page.title }}</strong>
          </h1>
          <div id="post-meta"><time>{{ page.date | date_to_string }}</time></div>
        </div>
        <div class="ads-center">
        </div>
        <div class="post-content">{{ content }}</div>
        <div class="post-footer">
          <div class="ads-center">
          </div>
          <div id="disqus_thread"></div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-layout-grid__inner">
          <div class="ads-center mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          </div>
          {% for post in site.posts limit:6 %}
            <div class="video-item mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
              <a href="{{ post.url | relative_url }}" class="video-thumbnail" data-originsrc="{{ post.thumbnail | relative_url | prepend: site.cdn }}"
                {% if post.preview %} data-previewsrc="{{ post.preview | relative_url }}" {% endif %}
              >
                <img
                  class="thumbnail-image"
                  alt="{{ post.title }}"
                  title="{{ post.title }}"
                  src="{{ post.thumbnail | relative_url | prepend: site.cdn }}"
                />
              </a>
              <a href="{{ post.url | relative_url }}" class="video-metadata">
                <h3 class="video-title"> {{ post.title }} </h3>
                <div class="video-category">
                  <span>{{ post.date | date_to_string }}</span>
                </div>
                <div class="video-desc">
                  <span>{{ post.description | truncatewords: 30 }}</span>
                </div>
              </a>
            </div>
          {% endfor %}
          {% for sug in page.suggestions %}
          {% assign livestream = site.livestream | where_exp:"livestream", "livestream.path contains sug" | first %}
          <div class="video-item mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <a href="{{ livestream.url | relative_url }}" class="video-thumbnail" data-originsrc="{{ livestream.thumbnail | relative_url | prepend: site.cdn }}"
              {% if livestream.preview %} data-previewsrc="{{ livestream.preview | relative_url }}" {% endif %}
            >
              <img
                class="thumbnail-image"
                alt="{{ livestream.title }}"
                title="{{ livestream.title }}"
                src="{{ livestream.thumbnail | relative_url | prepend: site.cdn }}"
              />
              {{ site.data.icons.play }}
            </a>
            <a href="{{ livestream.url | relative_url }}" class="video-metadata">
              <h3 class="video-title"> {{ livestream.title }} </h3>
              <div class="video-category">
                <span>{{ site.name }}</span>
                {{ site.data.icons.tick }}
              </div>
              <div class="video-live-now">
                <span>Live Now</span>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>